body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:600px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:600px;
}
#u1 {
  position:absolute;
  left:2px;
  top:292px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:200px;
  top:150px;
  width:540px;
  height:310px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:310px;
}
#u3 {
  position:absolute;
  left:2px;
  top:147px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:320px;
  top:262px;
  width:313px;
  height:28px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:28px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:352px;
  top:322px;
  width:236px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:28px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  word-wrap:break-word;
}
