


/*弹出提示*/
.del_down{
    text-align: center;
}
.del_down .hide{
    position: fixed;
    z-index: 999;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    opacity: 0.3;
    background: rgba(0,0,0,0.3);
}
.del_down .con{
    position: fixed;
    top: 50% ;
    left: 50% ; 
    -webkit-transform: translate(-50%,-50%); 
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

    z-index:1000;
    width:328px;
    height: 180px;
    border-radius: 5px;
    background-color: #FFFFFF;
    opacity: 1;
    -webkit-box-shadow: 0 0 6px #ccc;
    -moz-box-shadow: 0 0 6px #ccc;
    box-shadow: 0 0 6px #ccc;
}

