body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1301px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1546_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1301px;
  height:702px;
}
#u1546 {
  position:absolute;
  left:0px;
  top:0px;
  width:1301px;
  height:702px;
}
#u1547 {
  position:absolute;
  left:2px;
  top:343px;
  width:1297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1548_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1301px;
  height:797px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1548 {
  position:absolute;
  left:0px;
  top:0px;
  width:1301px;
  height:797px;
}
#u1549 {
  position:absolute;
  left:2px;
  top:390px;
  width:1297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1550_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1550 {
  position:absolute;
  left:47px;
  top:712px;
  width:29px;
  height:16px;
  font-size:14px;
}
#u1551 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1552_div {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:672px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1552 {
  position:absolute;
  left:0px;
  top:125px;
  width:246px;
  height:672px;
}
#u1553 {
  position:absolute;
  left:2px;
  top:328px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
