html{font:normal normal 62.5% "Microsoft YaHei";color:#222222;}/*加上是--1rem等于10px*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,input,button,textarea,p,th,td{padding:0;margin:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0}
a{text-decoration:none;outline:none;color:#222;}
a,input{-webkit-tap-highlight-color:rgba(2,2,2,0);}/*清除a标签点击之后的阴影*/
img{ border:none; vertical-align:top;}
textarea{ resize:none; overflow:auto;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}
table{ border-collapse:collapse;}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.clearfix{*zoom:1;}
.fl{float: left;}
.fr{float: right;}