body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:835px;
}
#u821 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:835px;
}
#u822 {
  position:absolute;
  left:2px;
  top:410px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#147EDA;
}
#u823 {
  position:absolute;
  left:36px;
  top:97px;
  width:81px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#147EDA;
}
#u824 {
  position:absolute;
  left:2px;
  top:5px;
  width:77px;
  word-wrap:break-word;
}
#u825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u825 {
  position:absolute;
  left:49px;
  top:142px;
  width:49px;
  height:36px;
  font-size:14px;
}
#u826 {
  position:absolute;
  left:2px;
  top:10px;
  width:45px;
  word-wrap:break-word;
}
#u827 {
  position:absolute;
  left:114px;
  top:145px;
  width:109px;
  height:29px;
}
#u827_input {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u827_input:disabled {
  color:grayText;
}
#u828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u828 {
  position:absolute;
  left:30px;
  top:300px;
  width:68px;
  height:43px;
  font-size:14px;
}
#u829 {
  position:absolute;
  left:2px;
  top:14px;
  width:64px;
  word-wrap:break-word;
}
#u830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  height:187px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u830 {
  position:absolute;
  left:615px;
  top:309px;
  width:455px;
  height:187px;
}
#u831 {
  position:absolute;
  left:2px;
  top:86px;
  width:451px;
  visibility:hidden;
  word-wrap:break-word;
}
#u832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u832 {
  position:absolute;
  left:643px;
  top:314px;
  width:29px;
  height:16px;
}
#u833 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1170px;
  height:530px;
}
#u834 {
  position:absolute;
  left:15px;
  top:295px;
  width:1170px;
  height:530px;
}
#u835 {
  position:absolute;
  left:2px;
  top:257px;
  width:1166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u836 {
  position:absolute;
  left:30px;
  top:300px;
  width:143px;
  height:23px;
  text-align:left;
}
#u837 {
  position:absolute;
  left:2px;
  top:4px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u838 {
  position:absolute;
  left:622px;
  top:300px;
  width:143px;
  height:23px;
  text-align:left;
}
#u839 {
  position:absolute;
  left:2px;
  top:4px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#147EDA;
}
#u840 {
  position:absolute;
  left:505px;
  top:304px;
  width:57px;
  height:16px;
  color:#147EDA;
}
#u841 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u842 {
  position:absolute;
  left:30px;
  top:785px;
  width:300px;
  height:30px;
}
#u843 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u844 {
  position:absolute;
  left:615px;
  top:785px;
  width:300px;
  height:30px;
}
#u845 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
}
#u846 {
  position:absolute;
  left:629px;
  top:788px;
  width:83px;
  height:25px;
  font-size:12px;
  color:#FFFFFF;
}
#u847 {
  position:absolute;
  left:2px;
  top:5px;
  width:79px;
  word-wrap:break-word;
}
#u848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u848 {
  position:absolute;
  left:41px;
  top:304px;
  width:29px;
  height:16px;
}
#u849 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u850 {
  position:absolute;
  left:1101px;
  top:97px;
  width:70px;
  height:32px;
}
#u851 {
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:37px;
}
#u852 {
  position:absolute;
  left:801px;
  top:835px;
  width:178px;
  height:37px;
}
#u853 {
  position:absolute;
  left:2px;
  top:10px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:37px;
}
#u854 {
  position:absolute;
  left:175px;
  top:835px;
  width:178px;
  height:37px;
}
#u855 {
  position:absolute;
  left:2px;
  top:10px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:170px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u856 {
  position:absolute;
  left:1186px;
  top:371px;
  width:13px;
  height:170px;
}
#u857 {
  position:absolute;
  left:2px;
  top:77px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:530px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u858 {
  position:absolute;
  left:589px;
  top:295px;
  width:13px;
  height:530px;
}
#u859 {
  position:absolute;
  left:2px;
  top:257px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:170px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u860 {
  position:absolute;
  left:589px;
  top:361px;
  width:13px;
  height:170px;
}
#u861 {
  position:absolute;
  left:2px;
  top:77px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:900px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u862 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:900px;
}
#u863 {
  position:absolute;
  left:2px;
  top:442px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u862_ann {
  position:absolute;
  left:1193px;
  top:-4px;
  width:1px;
  height:1px;
}
#u864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u864 {
  position:absolute;
  left:622px;
  top:304px;
  width:43px;
  height:16px;
}
#u865 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:858px;
  height:37px;
}
#u866 {
  position:absolute;
  left:175px;
  top:837px;
  width:858px;
  height:37px;
}
#u867 {
  position:absolute;
  left:2px;
  top:10px;
  width:854px;
  visibility:hidden;
  word-wrap:break-word;
}
#u868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#147EDA;
}
#u868 {
  position:absolute;
  left:36px;
  top:97px;
  width:81px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#147EDA;
}
#u869 {
  position:absolute;
  left:2px;
  top:5px;
  width:77px;
  word-wrap:break-word;
}
#u870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:462px;
}
#u870 {
  position:absolute;
  left:615px;
  top:323px;
  width:561px;
  height:462px;
}
#u871 {
  position:absolute;
  left:2px;
  top:223px;
  width:557px;
  visibility:hidden;
  word-wrap:break-word;
}
#u872 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u873 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u874 {
  position:absolute;
  left:36px;
  top:133px;
  width:588px;
  height:96px;
}
#u875 {
  position:absolute;
  left:2px;
  top:40px;
  width:584px;
  visibility:hidden;
  word-wrap:break-word;
}
#u876 {
  position:absolute;
  left:114px;
  top:195px;
  width:109px;
  height:29px;
}
#u876_input {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u876_input:disabled {
  color:grayText;
}
#u877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u877 {
  position:absolute;
  left:33px;
  top:193px;
  width:71px;
  height:30px;
}
#u878 {
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u879 {
  position:absolute;
  left:39px;
  top:150px;
  width:56px;
  height:28px;
}
#u880 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u881 {
  position:absolute;
  left:114px;
  top:149px;
  width:109px;
  height:29px;
}
#u881_input {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u881_input:disabled {
  color:grayText;
}
#u882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u882 {
  position:absolute;
  left:622px;
  top:340px;
  width:43px;
  height:16px;
}
#u883 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u884 {
  position:absolute;
  left:796px;
  top:340px;
  width:43px;
  height:16px;
}
#u885 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u886 {
  position:absolute;
  left:677px;
  top:340px;
  width:43px;
  height:16px;
}
#u887 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u888 {
  position:absolute;
  left:853px;
  top:340px;
  width:43px;
  height:16px;
}
#u889 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u890 {
  position:absolute;
  left:910px;
  top:340px;
  width:43px;
  height:16px;
}
#u891 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u892 {
  position:absolute;
  left:967px;
  top:340px;
  width:57px;
  height:16px;
}
#u893 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u894 {
  position:absolute;
  left:1037px;
  top:340px;
  width:57px;
  height:16px;
}
#u895 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:27px;
  background:inherit;
  background-color:rgba(20, 126, 218, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u896 {
  position:absolute;
  left:728px;
  top:335px;
  width:59px;
  height:27px;
}
#u897 {
  position:absolute;
  left:2px;
  top:6px;
  width:55px;
  word-wrap:break-word;
}
#u898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u898 {
  position:absolute;
  left:622px;
  top:371px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u899 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u900 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u901 {
  position:absolute;
  left:622px;
  top:427px;
  width:43px;
  height:16px;
}
#u902 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u903 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u904 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u905 {
  position:absolute;
  left:677px;
  top:423px;
  width:477px;
  height:120px;
}
#u906 {
  position:absolute;
  left:2px;
  top:52px;
  width:473px;
  visibility:hidden;
  word-wrap:break-word;
}
#u907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:2px;
}
#u907 {
  position:absolute;
  left:677px;
  top:452px;
  width:477px;
  height:1px;
}
#u908 {
  position:absolute;
  left:2px;
  top:-8px;
  width:473px;
  visibility:hidden;
  word-wrap:break-word;
}
#u909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:25px;
}
#u909 {
  position:absolute;
  left:680px;
  top:426px;
  width:394px;
  height:25px;
}
#u910 {
  position:absolute;
  left:2px;
  top:4px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u911 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u912 {
  position:absolute;
  left:622px;
  top:584px;
  width:43px;
  height:16px;
}
#u913 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u914 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u915 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u916 {
  position:absolute;
  left:677px;
  top:580px;
  width:477px;
  height:120px;
}
#u917 {
  position:absolute;
  left:2px;
  top:52px;
  width:473px;
  visibility:hidden;
  word-wrap:break-word;
}
#u918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:2px;
}
#u918 {
  position:absolute;
  left:677px;
  top:609px;
  width:477px;
  height:1px;
}
#u919 {
  position:absolute;
  left:2px;
  top:-8px;
  width:473px;
  visibility:hidden;
  word-wrap:break-word;
}
#u920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:25px;
}
#u920 {
  position:absolute;
  left:680px;
  top:583px;
  width:394px;
  height:25px;
}
#u921 {
  position:absolute;
  left:2px;
  top:4px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u922 {
  position:absolute;
  left:622px;
  top:397px;
  width:35px;
  height:16px;
}
#u923 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u924 {
  position:absolute;
  left:622px;
  top:558px;
  width:35px;
  height:16px;
}
#u925 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u926 {
  position:absolute;
  left:650px;
  top:397px;
  width:54px;
  height:16px;
}
#u927 {
  position:absolute;
  left:16px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u926_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u928 {
  position:absolute;
  left:708px;
  top:397px;
  width:54px;
  height:16px;
}
#u929 {
  position:absolute;
  left:16px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u928_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u930 {
  position:absolute;
  left:650px;
  top:556px;
  width:54px;
  height:16px;
}
#u931 {
  position:absolute;
  left:16px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u930_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u932 {
  position:absolute;
  left:708px;
  top:556px;
  width:54px;
  height:16px;
}
#u933 {
  position:absolute;
  left:16px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u932_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u934 {
  position:absolute;
  left:1135px;
  top:399px;
  width:15px;
  height:15px;
}
#u935 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u936 {
  position:absolute;
  left:1139px;
  top:557px;
  width:15px;
  height:15px;
}
#u937 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:42px;
}
#u938 {
  position:absolute;
  left:241px;
  top:187px;
  width:465px;
  height:42px;
}
#u939 {
  position:absolute;
  left:2px;
  top:13px;
  width:461px;
  visibility:hidden;
  word-wrap:break-word;
}
