body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:466px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:610px;
}
#u4 {
  position:absolute;
  left:0px;
  top:-1px;
  width:323px;
  height:610px;
}
#u5 {
  position:absolute;
  left:2px;
  top:297px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  position:absolute;
  left:255px;
  top:239px;
  width:78px;
  height:38px;
}
#u7 {
  position:absolute;
  left:2px;
  top:11px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  position:absolute;
  left:5px;
  top:130px;
  width:88px;
  height:32px;
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u10 {
  position:absolute;
  left:263px;
  top:528px;
  width:61px;
  height:31px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FF0000;
}
#u12 {
  position:absolute;
  left:105px;
  top:539px;
  width:56px;
  height:14px;
  font-size:11px;
  color:#FF0000;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14 {
  position:absolute;
  left:201px;
  top:429px;
  width:151px;
  height:61px;
}
#u15 {
  position:absolute;
  left:2px;
  top:22px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u16 {
  position:absolute;
  left:354px;
  top:439px;
  width:85px;
  height:16px;
  color:#0000FF;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18 {
  position:absolute;
  left:225px;
  top:537px;
  width:151px;
  height:61px;
}
#u19 {
  position:absolute;
  left:2px;
  top:22px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u20 {
  position:absolute;
  left:381px;
  top:556px;
  width:85px;
  height:16px;
  color:#0000FF;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22 {
  position:absolute;
  left:105px;
  top:537px;
  width:56px;
  height:61px;
}
#u23 {
  position:absolute;
  left:2px;
  top:22px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:55px;
  height:22px;
}
#u24p000 {
  position:absolute;
  left:-2px;
  top:-1px;
  width:48px;
  height:4px;
}
#u24p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:50px;
  height:6px;
}
#u24p001 {
  position:absolute;
  left:30px;
  top:-10px;
  width:22px;
  height:22px;
}
#u24p001_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:24px;
  height:22px;
}
#u24.compound {
  width:0px;
  height:0px;
}
#u24 {
  position:absolute;
  left:171px;
  top:558px;
  width:44px;
  height:2px;
}
#u25 {
  position:absolute;
  left:2px;
  top:-7px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u26 {
  position:absolute;
  left:105px;
  top:604px;
  width:85px;
  height:16px;
  color:#0000FF;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28 {
  position:absolute;
  left:238px;
  top:91px;
  width:95px;
  height:69px;
}
#u29 {
  position:absolute;
  left:2px;
  top:26px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u30 {
  position:absolute;
  left:343px;
  top:118px;
  width:85px;
  height:16px;
  color:#0000FF;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u32 {
  position:absolute;
  left:246px;
  top:102px;
  width:85px;
  height:16px;
  color:#0099FF;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34 {
  position:absolute;
  left:274px;
  top:16px;
  width:49px;
  height:36px;
}
#u35 {
  position:absolute;
  left:2px;
  top:10px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36 {
  position:absolute;
  left:3px;
  top:16px;
  width:49px;
  height:36px;
}
#u37 {
  position:absolute;
  left:2px;
  top:10px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
