body{
	background: #ececec;
}
.wrapper{
	width:90%;
	min-width:1200px;
	margin:50px auto 50px;	
	box-sizing:border-box;
}
.header{
	height:50px;
	padding-left:17px;
	background: #fff;
	border-radius: 5px;
	line-height: 50px;
	font-size: 1.6rem;
	color:#000;
	-webkit-box-shadow: 0 0 10px #ccc;
	-moz-box-shadow: 0 0 10px #ccc;
	-ms-box-shadow: 0 0 10px #ccc;
	box-shadow: 0 0 10px #ccc;

}
.header P{font-size: 16px;color:#000;}
.header h5{font-size: 14px;color:#999;margin-right: 25px;}
.main{
	min-height:500px;
	background: #fff;
	border-radius: 5px;
	padding-bottom: 20px;
	-webkit-box-shadow: 0 0 10px #ccc;
	-moz-box-shadow: 0 0 10px #ccc;
	-ms-box-shadow: 0 0 10px #ccc;
	box-shadow: 0 0 10px #ccc;
	margin-top:15px;	
}
/*总体分析*/
.mainTab{
	height:45px;
	background: #f5f5f5;
	border-bottom: 1px solid #ccc;
}
.mainTab ul li{
	width:220px;
	height:45px;
	float:left;
}
.mainTab ul li a{
	display: block;
	width:218px;
	height:43px;
	line-height: 45px;
	border-top:2px solid #f5f5f5;
	border-left: 1px solid #f5f5f5;
	border-right: 1px solid #ccc;
	text-align: center;
	font-size: 1.6rem;
	color:#666666;
}
.mainTab ul li:first-child a{
	border-left: 1px solid #f5f5f5;
}
.mainTab ul li.current a{
	background: #fff;
	border-left: 1px solid #f5f5f5;
	border-right: 1px solid #ccc;
	border-top:2px solid #5093e1;
	border-bottom: 1px solid #fff;
	color:#000;
}
.mainTab ul li.current:first-child a{
	border-left: 1px solid #fff;
}

/*总体分析*/
/*按钮颜色值*/
body, button, input, legend, select, textarea {
    font: 300 14px/1.5 'Open Sans','PingFang SC','\5FAE\8F6F\96C5\9ED1',sans-serif;
    color: #4A4A4A;
}
.add-manually.slq-global .timu .item,.content-manage-frame.ljj-global .content-table.border td,.content-manage-frame.ljj-global .content-table.border th,.detail-page.wq-global .bottom-line h1,.error-list.wq-global .error-correct-list li,.index-page.wq-global .main .list li,.index-page.wq-global aside ul.guide-lists li,.lists-page.wq-global .main ul li,.lists-page.wq-global aside ul li,.msgbox .msg-wrap,.qcw-global .exam_detail ul li,.repository-frame.ljj-global .resourcelist li h3,.simditor-content-style,.wq-global .resource-list li .list-title,.yaxis-vertical-title {
	word-break: break-all;
	word-wrap: break-word
}

.lx-global.user-statistics table.dataTable,.statistics.slq-global .area table.dataTable,table {
	border-collapse: collapse
}
@font-face {
	font-family:iconfont;src:url(/static/web/css/iconfont/font/iconfont.eot?14346317);src:url(/static/web/css/iconfont/font/iconfont.eot?14346317#iefix) format('embedded-opentype'),url(/static/web/css/iconfont/font/iconfont.woff2?14346317) format('woff2'),url(/static/web/css/iconfont/font/iconfont.woff?14346317) format('woff'),url(/static/web/css/iconfont/font/iconfont.ttf?14346317) format('truetype'),url(/static/web/css/iconfont/font/iconfont.svg?14346317#iconfont) format('svg');font-weight:400;font-style:normal
}
.ad-gallery .ad-image-wrapper .ad-next-image:before,.ad-gallery .ad-image-wrapper .ad-prev-image:before,.ad-gallery .ad-nav .ad-back:before,.ad-gallery .ad-nav .ad-forward:before,.bread a:before,[class*=" icon-"]:before,[class^=icon-]:before {
	font-family: iconfont;
	font-style: normal;
	font-weight: 400;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
span[class*=" btn-exam-level"].btn-exam-level-a.ttfu, span[class^=btn-exam-level].btn-exam-level-a.ttfu {
    background: #81D470;
}
span[class*=" btn-exam-level"].btn-exam-level-a, span[class^=btn-exam-level].btn-exam-level-a {
    border-color: #81D470;
    color: #81D470;
}
span[class*=" btn-exam-level"].ttfu, span[class^=btn-exam-level].ttfu {
    color: #fff!important;
}
span[class*=" btn-exam-level"].btn-exam-level-b.ttfu, span[class^=btn-exam-level].btn-exam-level-b.ttfu {
    background: #7CB5EC;
}
span[class*=" btn-exam-level"].btn-exam-level-b, span[class^=btn-exam-level].btn-exam-level-b {
    border-color: #7CB5EC;
    color: #7CB5EC;
}
span[class*=" btn-exam-level"].btn-exam-level-c.ttfu, span[class^=btn-exam-level].btn-exam-level-c.ttfu {
    background: #F7A35C;
}
span[class*=" btn-exam-level"].btn-exam-level-c, span[class^=btn-exam-level].btn-exam-level-c {
    border-color: #F7A35C;
    color: #F7A35C;
}
span[class*=" btn-exam-level"].btn-exam-level-d.ttfu, span[class^=btn-exam-level].btn-exam-level-d.ttfu {
    background: #F15C80;
}
span[class*=" btn-exam-level"].btn-exam-level-d, span[class^=btn-exam-level].btn-exam-level-d {
    border-color: #F15C80;
    color: #F15C80;
}
span[class*=" btn-exam-level"].ttfu, span[class^=btn-exam-level].ttfu {
    color: #fff!important;
}
.chart-column-legends>span {
    margin-right: 5px;
    cursor: pointer;
}
span[class*=" btn-exam-level"], span[class^=btn-exam-level] {
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 2px;
    border: 1px solid transparent;
    text-align: center;
    transition-duration: .25s;
    text-transform: uppercase;
}
span[class*=" btn-exam-level"].btn-exam-level-a:before, span[class^=btn-exam-level].btn-exam-level-a:before {
    content: 'a';
}
span[class*=" btn-exam-level"].btn-exam-level-b:before, span[class^=btn-exam-level].btn-exam-level-b:before {
    content: 'b';
}
span[class*=" btn-exam-level"].btn-exam-level-c:before, span[class^=btn-exam-level].btn-exam-level-c:before {
    content: 'c';
}
span[class*=" btn-exam-level"].btn-exam-level-d:before, span[class^=btn-exam-level].btn-exam-level-d:before {
    content: 'd';
}
span[class*=" btn-exam-level"].active, span[class^=btn-exam-level].active {
    background: #9B9B9B!important;
    border-color: #9B9B9B;
}


/*图表*/
.cc-global.exam-all .exam-all-details {
    position: relative;
}
.tac {
    text-align: center;
}
.cc-global.exam-all .exam-all-details .exam-all-tabs {
    padding-top: 30px;
}
.white-box {
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.05);
}
.cc-global.exam-all .exam-all-details .exam-all-tabs>a~a, .cc-global.exam-all .exam-all-details .exam-details-page .exam-all-charts .bracket-group label~label {
    margin-left: 20px;
}

.cc-global.exam-all .exam-all-details .exam-details-page {
    min-height: 260px;
}
.cc-global.exam-all .exam-all-details .exam-details-page .exam-all-charts.active {
    display: block;
}
.cc-global.exam-all .exam-all-details .exam-details-page .exam-all-charts {
    display: none;
    padding-top: 25px;
}
.chart-column-legends {
    text-align: center;
}
.chart-column-line-global .can-choosed {
    display: inline-block;
    margin-right: 20px;
    color: #9B9B9B;
}
.chart-column-legends>.can-choosed {
    margin-right: 0!important;
}
.pt20 {
    padding-top: 20px;
}

/*tabel表格*/
.cc-global.exam-all .exam-all-details .exam-details-page .exam-all-charts .table-title {
    position: relative;
    padding-right: 15px;
    height: 45px;
    font-size: 16px;
    line-height: 45px;
}
table.border {
    width: 98%;
    margin: 0 auto;
}
.table-title {
	margin-top: 36px;
	margin-bottom: 25px;
	font-size: 16px;
	color:#000;
}
.cc-global.exam-all .exam-all-details .exam-details-page .exam-all-charts .border td, .cc-global.exam-all .exam-all-details .exam-details-page .exam-all-charts .border th {
    padding: 0;
    height: 40px;
    color: #000;
    text-align: center;
    font-size: 14px;
}
table.border td, table.border th {
    padding: 15px;
    border: 1px solid #ccc;
}
table.border th {
    background: #f5f5f5;
    text-align: center;
}

/*表头切换*/
.exam-all-tabs{margin-top: 30px;margin-bottom: 10px;}
.exam-all-tabs a,.graph-tabs a {
	display: inline-block;
	width: 184px;
	height: 34px;
	border:1px solid #ccc;
	color:#000;
	font-size: 16px;
	line-height: 34px;
	margin:auto 60px;
	text-align: center;
}
.exam-all-tabs a.active,.graph-tabs a.active{background-color: #32ba54;color:#fff;border-color:#32ba54;}


/*载入中...*/
.cc-global.exam-all .exam-all-details .detail-loading {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.8);
    text-align: center;
    padding: 150px 0 10px;
    font-size: 18px;
    z-index: 2;
}
.icon-spin5:before {
    content: '\e827';
}
.animate-spin {
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
    display: inline-block;
}
.tar{text-align: right;}

/*参考学生统计*/
.count p{font-size: 16px; color:#000;margin: 30px 0 30px 16px;}
.count p span{color:#fb5252;}
.count .table{
	width: 98%;
    margin: 0 auto;
}
.count .table thead th,.count .table tbody td{border:1px solid #ccc;text-align: center;height: 44px;color:#000;}
.count .table thead th{background-color: #f5f5f5;font-size: 16px;font-weight: normal;}
.count .table tbody td{font-size: 14px;}


/*考试列表*/
.ExamList .select li{float: left;margin: 25px  35px 25px 20px;}
.ExamList .select li p{font-size: 16px;color: #000;margin-bottom: 4px;}
.ExamList .select li select{
	display: inline-block;
	width: 176px;
	height: 32px;
	border:1px solid #ccc;
	border-radius: 5px;
	outline: none;
	cursor:pointer;
}
.ExamList .select li span{
	display: inline-block;
	width: 70px;
	height: 30px;
	line-height: 30px;
	color:#fff;
	background-color:#5093e1;
	text-align:center;
	border-radius:3px;
	margin-top: 29px;
	cursor:pointer;
}
.ExamList .tableBox {
    padding: 20px 25px 0;
    overflow-x: auto;
}
.ExamList .tableBox .export {
    height: 26px;
    padding: 5px 0;
}
.tableBox .export a{
    display: block;
    padding: 0 10px;
    font-size: 1.4rem;
    color: #5093e1;
}
.tableBox .export a:first-child{color:#32ba54;text-decoration: underline;}
.tableBox .gradeQuankeScollBox {
    width: 100%;
    overflow-x: auto;
}
.tableBox table {
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 14px;
    color: #000;
}
#gradeQuanke thead th {
    height: 30px;
}

.tableBox table thead th {
    padding: 0;
    border: 1px solid #ccc;
    height: 48px;
    background: #f6f6f6;
    text-align: center;
    font-weight: normal;
}
.tableBox table tbody td {
    padding: 5px;
    border: 1px solid #ccc;
    text-align: center;
    height: 54px;
}
.tableBox table tbody td i.icon-down-arrow {
    padding: 10px;
    background: url(../img/icon-down-arrow.png) no-repeat center center;
}
.tableBox table tbody td i.icon-up-arrow {
    padding: 10px;
    background: url(../img/icon-up-arrow.png) no-repeat center center;
}
.statistics_table tbody tr td i.dj-a {
    background: #32ba54;
}
.statistics_table tbody tr td i.dj-b {
    background: #2da8e3;
}
.statistics_table tbody tr td i.dj-c {
    background: #ffcc18;
}
.statistics_table tbody tr td i.dj-d {
    background: #fb5252;
}
.statistics_table tbody tr td i.dj {
    font-size: 1.2rem;
    color: #fff;
    width: 15px;
    height: 15px;
    line-height: 15px;
    display: inline-block;
    font-style: normal;
    text-align: center;
    margin: 0 8px;
}

/*学校分析--查看学校对比*/
.mainTitle {
    height: 35px;
    line-height: 35px;
    font-size: 1.6rem;
    color: #000;
    padding-left: 10px;
    border-left: 3px solid #5093e1;
    font-weight: bold;
}
.graph-tabs {
    padding: 17px 0px;
    width: 950px;
    height: 36px;
    margin: 0 auto;
}
.graph-comments {
    padding: 10px 18px;
    background: #f5f5f5;
    margin-top: 10px;
}
.graph-comments li {
    font-size: 1.4rem;
    color: #666;
    line-height: 24px;
}
.chart-column-legend-class {
    min-height: 40px;
    line-height: 40px;
    font-size: 1.4rem;
    color: #000;
    text-align: center;
}
.histogramMapFooter {
    min-height: 40px;
    line-height: 40px;
    font-size: 1.6rem;
    color: #000;
    text-align: center;
}
.mainOneTable .tableTitle {
    height: 45px;
    line-height: 45px;
    font-size: 1.6rem;
    color: #000;
    text-align: center;
}
.chart-column-legend {
    height: 40px;
    line-height: 40px;
    font-size: 1.4rem;
    color: #000;
    text-align: center;
}
.chart-column-legend .can-choosed {
    display: inline-block;
    color: #9B9B9B;
}
.chart-column-legend span {
    display: inline-block;
    cursor: pointer;
    white-space: nowrap;
}
.chart-column-legend-class span.active {
    color: #000;
}
.chart-column-legend span.active {
    color: #9b9b9b;
}
.chart-column-legend-class span {
    margin-right: 15px;
    cursor: pointer;
    color: #9B9B9B;
}
.chart-column-legend span.level-a i {
    background: #32ba54;
}
.chart-column-legend span.level-b i {
    background: #3598db;
}
.chart-column-legend span.level-c i {
    background: #fdbc2a;
}
.chart-column-legend span.level-d i {
    background: #fb5252;
}
.chart-column-legend span i {
    width: 12px;
    height: 12px;
    margin: 0 5px;
    display: inline-block;
}
.chart-column-legend span.active i {
    background: #9b9b9b;
}
.mainThreeMapBox .xuekeSplitMap {
    padding: 0 20px;
}
.mainThreeMapBox .xuekeSplitMapFooter {
    min-height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 1.6rem;
    color: #000;
}
.mainThreeMapBox .histogramNote {
    padding: 10px 18px;
    background: #f5f5f5;
    margin-top: 10px;
}
.mainThreeMapBox .histogramNote p {
    font-size: 1.4rem;
    color: #666;
    line-height: 24px;
}
.mainTwo .fractionNote {
    padding: 10px 18px;
    background: #f5f5f5;
}
.mainTwo .fractionNote p {
    height: 24px;
    font-size: 1.4rem;
    color: #666;
}
.mainTwo .mainTitle a {
    float: right;
    font-size: 1.4rem;
    color: #5093e1;
    margin-right: 30px;
}
.mainTwo .tableBox .tableTitle {
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 1.6rem;
    color: #000;
}
.tableBox {
    padding: 20px 25px 0;
    overflow-x: auto;
}
.tableBox .statistics_table tr.ex-table-show {
    display: none;
}
.tableBox .statistics_table tr td.expand i.icon-down-open {
    color: #4A90E2;
    background: url(../img/table_up_bg.png) no-repeat center center;
}
.tableBox .statistics_table tr td i.icon-down-open {
    width: 20px;
    height: 20px;
    display: inline-block;
    color: #D8D8D8;
    font-style: normal;
    cursor: pointer;
    background: url(../img/table_down_bg.png) no-repeat center center;
}
.tableBox .statistics_table tr td.col span {
    float: left;
    display: block;
    height: 50px;
    padding: 0 40px;
    font-size: 1.4rem;
    color: #838383;
    line-height: 50px;
}

.Sub{padding: 20px;border-bottom: 1px solid #ccc;margin-bottom: 20px;}
.Choice li{margin: 20px 0;}
.Choice li p{font-size: 16px;float: left;margin-right: 15px;}
.Choice li em{font-style: normal;}
.Choice li span{display:inline-block;font-size: 14px;margin-right: 25px;padding: 3px 7px;border:1px solid #ccc;border-radius:3px;cursor: pointer;}
.Choice li span.active{background-color: #5093e1;border:1px solid #5093e1;color:#fff;}
.Choice li div.local{ margin-left: 94px; }
.look{display: inline-block;width:120px;height: 36px;border:1px solid #5093e1;color:#5093e1;font-size: 16px;line-height: 36px;text-align: center;margin: 25px 25px 0 0;cursor: pointer;}


/*学校分析--学校对比单科*/
.Choice li div.local span{ margin-top:10px;margin-bottom: 10px; }
.white-box  .single-avg-chart em {
    font-style: normal;
    color: #AAA;
}
.white-box .single-avg-chart>span {
    display: inline-block;
    width: 14px;
    height: 12px;
    vertical-align: middle;
    border-radius: 2px;
}
.chart-column-legends>span {
    margin-right: 5px;
    cursor: pointer;
}
.white-box .single-avg-chart .btn-level-1 {
    background: #7CB5EC;
    border-color: #7CB5EC;
}
.white-box .single-avg-chart .btn-level-2 {
    background: #81D470;
    border-color: #81D470;
    margin-left: 20px;
}






