.main .main_right{
	width:97%;
	margin: 0 auto;
}
.task_list{
	width:100%;
	box-sizing:border-box;
	background-color: #fff;
    min-height: 600px;
    border-radius: 10px;
    margin-top: 10px;
    padding: 16px 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px #ccc;
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    -o-box-shadow: 0 0 10px #ccc;
    -ms-box-shadow: 0 0 10px #ccc;
}


/*2016.11.29 zy*/
.main_right .list_tit {
    text-align: left;
    margin-top: 12px;
}
.main_right .list_tit li{
    width: 9%;
    float: left;
}
.main_right .list_tit li a.list_tit_active{
    border-bottom: 2px solid #5093e1;
    display: inline-block;
    font-size: 1.4rem;
    padding: 2px;
    cursor: pointer;
    color: #222;
}

.tasl_list_tit{
	height:30px;
	padding:12px 0;
	border-bottom: 1px solid #e5e5e5;
}
.tasl_list_tit strong{
	font-size: 14px;
	color:#222;
	line-height: 30px;
	float:left;
	font-weight: normal;
}
.tasl_list_tit input.Wdate{
    box-sizing: initial;
	float:left;
	width:190px;
	height:28px;
	border:1px solid #e5e5e5;
	border-radius: 5px;
	padding-left:5px;
	margin-right: 10px;
	background: url(../img/calender.png) no-repeat 165px center;
	box-sizing: border-box;
}
.tasl_list_tit a.confirm{
	display: block;
	float:left;
	width:60px;
	height:30px;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	color:#fff;
	background: #5093e1;
	border-radius: 5px;
}
.tasl_list_tit a.confirm:hover{
	background:#0050ac;
}

.classTable{
	
}
.classTableTop{
	height:32px;
	padding:15px 5px 0;
}
.classTableTop a{
	width:60px;
	height:32px;
	display: block;
	line-height: 32px;
	text-align: center;
	font-size: 14px;
	color:#5093e1;
	float:left;
}
.classTableTop a:hover{
	color:#0050ac;
}

.classTableTop a.class_left{
	background: url(../img/arrowL.png) no-repeat left center;
}
.classTableTop a.class_right{
	float:right;
	background: url(../img/arrowR.gif) no-repeat right center;
}
.classTableBox{
	width:100%;
}
.weeks_table{
	width:100%;
	border-collapse: collapse;
	border:1px solid #ccc;
}
.weeks_table thead th{
	width:14.28%;
	height:44px;
	text-align: center;
	font-size: 16px;
	color:#222;
	background: #f9f9f9;
	border:1px solid #ccc;
}
.weeks_table tbody td{
	height:56px;
	text-align: center;
	font-size: 12px;
	color:#222;
	border:1px solid #ccc;
}
.weeks_table tbody td a{
	display: block;
	width:100%;
	height:100%;
	background: #f7fdfd;
	border:1px solid #9fd2f8;
}
