/*社团详情页面css*/
.shetuan {
width: 97%;
margin: 20px auto;
min-width: 1200px;
}

.shetuanul li {
display: inline-block;
color: #949494;
margin-right: 30px;
font-size: 14px;
}

.shetuanul li.active {
color: #000;
border-bottom: 2px solid #5093e1;
}

.stxiangqing {
margin-top: 10px;
width: 100%;
}

.myshetuan {
min-width: 15%;
min-height: 500px;
background: #fff;
border-radius: 10px;
float: left;
}

.sttreeheader {
height: 35px;
background: #5093e1;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
line-height: 35px;
text-align: center;
color: #fff;
font-size: 16px;
}

.addst {
height: 40px;
background: #e5e5e5;
line-height: 40px;
text-align: center;
color: #555;
font-size: 14px;
cursor: pointer;
}

.stlist ul li {
height: 40px;
border-bottom: 1px solid #e5e5e5;
line-height: 40px;
text-align: center;
cursor: pointer;
}

.stlist ul li.xuanzhong{color:#5093e1;}

.mystjs {
width: 82%;
background: #fff;
min-height: 500px;
float: left;
margin-left: 25px;
border-radius: 2%;
}

.stjianjie,
.jiaoshijj {
padding: 20px;
}

.jianjieheader {
height: 40px;
line-height: 40px;
}

.fleft {
float: left;
}

.fright {
float: right;
}

.lan {
color: #5093e1;
}

.ft-sz16 {
font-size: 16px;
}

.ft-sz15{
font-size: 15px;
}

.hr {
background: #ddd;
width: 100%;
}
.jiaoshitouxiang{float:left;margin-right: 10px;}
.jiaoshibianji p,.shetuanbianji p{text-indent: 30px;line-height:30px;}
span{display: inline-block;}
.bianji{width:16px;height:16px;background:url(../img/bianji.png)no-repeat;margin-right:5px;}
.pointer{cursor: pointer;}

/*管理成员页面css*/
.shetuanchengyuan {
width: 80%;
background: #fff;
min-height: 500px;
float: left;
margin-left: 25px;
border-radius: 2%;
}
.chengyuanlist ul li{height:85px;border:1px solid #e5e5e5;width:22%;display: inline-block;margin:10px;position: relative;}
.fleft{float:left;}
.cytouxiang{margin-left:10px;margin-top:15px;margin-right:10px;}
.cyname{margin-top:15px;line-height:25px;}
.shuxian{margin:0 10px;}
.delchengyuan{position: absolute;bottom:0;right:0;cursor: pointer;}
.xingbie{margin-left:20px;}
.addchengyuan{height:85px;border:1px solid #e5e5e5;width:22%;display: inline-block;margin:10px;position: relative;text-align: center;vertical-align: middle;}
.addtubiao{margin-top: 15px;}